#topgreen{
   display: flex; 
   justify-content: space-between;
   font-size: 7px;
   background-color: rgb(65, 194, 134);
}
#bemins{
    display: flex;
    justify-content: space-between;
}
#home{
    display: flex;
    gap: 10px;
}
#images{
    display: flex;
    gap: 10px;
}
#search{
margin-top: 15px;
height: 20px;
}
#cap{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
#customer{
    margin-top: 20px;
}
#stylish{   
    font-size: 100px;
}
#major{
    display: flex;
    justify-content: space-between;
}
#handbags{
    display: flex;
    gap: 260px;
}
#collection{
    display: flex;
    gap: 200px;
}
#modern{
    margin-top: 50px;
}
#best{
    display: flex;
    justify-content: center;
    gap: 80px;
}
#outfits{
    display: flex;
    justify-content: space-between;
}
#hats{
    display: flex;
    justify-content: space-between;
}
#knit{
    display: flex;
    gap: 50px;
}
#wool{
    display: flex;
    gap: 50px;
}
.btn{
    margin-top: 80px;
}
@media all and (min-width: 280px) and (max-width:1024px){
    #topgreen{
        display: flex; 
        justify-content: space-between;
        font-size: xx-small;
        background-color: rgb(65, 194, 134);
        flex-wrap: wrap;
    }
    #bemins{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: x-small;
        gap: 3px;
    }
    #cap{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        flex-wrap: wrap ;
        gap:2px;
        font-size: x-small;
    }
    #stylish{   
        font-size: 30px;
    } 
    #major{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2px;
    }
    #handbags{
        display: flex;
        gap: 90px;
        flex-wrap: wrap;
    }
    #collection{
        display: flex;
        gap: 90px;
        flex-wrap: wrap;
    }
    #modern{
        margin-top: 20px;
    }
    #best{
        display: flex;
        justify-content: center;
        gap: 30px;
        flex-wrap: wrap;
    }
    #outfits{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #hats{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #knit{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    #wool{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .btn{
        margin-top: 30px;
    }  
    #icon{
        height: 10px;
    } 
    #bluewhite{
        width: 200px;
        height: 250px;
    }
    .pink{
        height: 100px;
        width: 100px;
    }
    #sandles{
        height: 75px;
        width: 150px;
    }
    .girl{
        height: 100px;
    }
    .manblue{
        width: 150px;
        height: 150px;
    }
}